@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
/*--------------------------header coding-----------------------------*/
.header{
    background-color: #000;
    height:65px ;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 25px;
    align-items: center;
    position:sticky;
    top: 0%;
    z-index: 900;
}
.logo{
    height: 65px;
}
.logo img{
    height: 65px;

}
.links{
    text-align: left;
}
.links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 10px;
    text-align: left;
    font-family:'Varela Round', sans-serif;

}
.music{
    font-family: 'Ubuntu', sans-serif;
}
.music ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.links a:hover{
    color:rgb(158, 14, 14) ;
    background-color: azure;

}
.logo .fa{
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 0px;
    padding-right: 30px;
    padding-bottom: 50px;
    cursor: pointer;
    display: none;
}

/*------------------------end header coding-----------------------------------*/


.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 100%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('images/bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 40px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.footer{
    padding: 30px 25px;
    text-align: center;
    background-color:#3b1a17;
}
.footer p{
    color:white;
    display: block;
    font-size: 20px;
}
.vd{
    padding-top: 30px;
    padding-left: 100px;
}
.vd video{
    width: 700px;
    height: 350;
    border: 2px solid black;
}
.vd h1{
    font-family: 'Varela Round', sans-serif;
    color:white;
    font-size:50px;
    padding:4px;
    text-align: center;
}
/*---------------------------------------------------------Media Coding------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(248, 245, 245);
    }
    .header{
        grid-template-columns: auto;
        padding: 0px;
        width: 100%;
        height: 90px;
    }
    .links{
        background-color: #000;
        display: none;
        padding: 0px 0px 10px 0px;
    }  
    .links a{
        display: block;
        padding: 30px 0px 0px 30px;
        text-align: center;
    }
    .logo .fa{
        display: block;
        color: #fff;
        padding-bottom: 100px;
    }
    .show-nav{
        display: block;
    }
    /*------------------header end-------------------*/
    .container{
        height: 100%;
        background-color: black;
        color: white;
       font-family: 'Varela Round', sans-serif;
       display: flex;
       margin: 23px auto;
       width: 100%;
       border-radius: 12px;
       padding: 34px;
       background-image: url('images/bg.jpg');
    }
    
    .bottom{
        position: sticky;
        bottom: 0;
        height: 130px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    
    .icons{
        margin-top: 14px; 
    }
    .icons i{
        cursor: pointer;
    }
    
    #myProgressBar{
        width: 80vw; 
        cursor: pointer;
    }
    
    .songItemContainer{
        margin-top: 40px;
    }
    
    .songItem{
        height: 50px;
        display: flex;
        background-color: white;
        
        color: black;
        margin: 12px 0;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
    }
    
    .songItem img{
        width: 43px;
        margin: 0 23px;
        border-radius: 34px;
    }
    
    .timestamp{
        margin: 0 23px;
    }
    
    .timestamp i{
        cursor: pointer;
    }
    
    .songInfo{
        position: absolute;
        font-family: 'Varela Round', sans-serif;
    }
    .vd{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vd video{
        width: 100%;
        height: 400;
        border: 2px solid black;
        padding-top: 30px;
    }
    .vd h1{
        font-family: 'Varela Round', sans-serif;
        color:white;
        font-size:50px;
        padding:4px;
        text-align: center;
    }
  }